.git/
.vscode/
!build/
build/src/mock/
build/**/*.spec.*
coverage/
node_modules/
src/
test-data/
.editorconfig
.gitignore
.npmignore
.travis.yml
jest.config.js
preprocessor.js
package-lock.json
*.tgz
tmp.*.cs
ts*.json